h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(16, 0, 157);
    color: white;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(16, 0, 157);
    text-align: left;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1;
    font-weight:normal
}

a {
    text-decoration: none;
    background: rgb(233, 233, 235);
    padding: 5px;
    border-radius: 1px;
  }

h3 {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(16, 0, 157);
    text-align: left;
}