h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(16, 0, 157);
    color: white;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(16, 0, 157);
    text-align: left;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1;
    font-weight:normal
}

a:visited{
    color:purple;
}

a:hover {
    color: orange;
    text-decoration: underline;
    text-align: center; 
    
}

nav {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}


