/*title consistent with rest of site*/
h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(16, 0, 157);
    color: white;
    text-align: center;
}

/*All other words on the page*/
p {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1;
    font-weight:normal
}

/*Put the buttons in the center*/
.button-container {
    text-align: center;
}

/*search button*/
button {
    background-color: rgb(16, 0, 157); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

  }


