<html>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <head> <link rel= "stylesheet" href="{{url_for('static', filename='datapage.css')}}">
        <h1>{{title2}}</h1>
    </head>
    <body>
        <h3><a href="http://127.0.0.1:5000/">Home</a></h3>

        <h2>{{question}} Results for: {{subset}}</h2>
        {% for key,value in displaylist.items() %}
        <p>{{key}} : {{value}} %</p>
        {% endfor %}
        <div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <script>
            var xValues=["Very concerned", "Not applicable/don't believe in birth control","Somewhat concerned","Not very concerned","Not at all concerned","Don't know","Refused"];
            var yValues="{{yValues}}"
            var barColors = "blue";
            new Chart("myChart", {
                type: "bar",
                data: {
                    labels:xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Birth Control"
    }
  }
});
</script>
    <h2>Data source</h2>
    <p>Main: <a href=https://ropercenter.cornell.edu/ipoll/study/31118270">Roper iPoll October 2020 Birth Control Survey </a></p>
    <p>Power to Decide (the National Campaign to Prevent Teen and Unplanned Pregnancy). Power to Decide: October 2020 Birth Control Survey, 2020 [Dataset]. Roper #31118270, Version 3. SSRS [producer]. Cornell University, Ithaca, NY: Roper Center for Public Opinion Research [distributor]. doi:10.25940/ROPER-31118270</p>

    </div>
    </body>
</html>