<!DOCTYPE html>
<html>
  <head>
    <h1>Birth Control Survey Results</h1>
    <link rel= "stylesheet" href="{{url_for('static', filename='homepage.css')}}">
  </head>
<body>
  
  <h2>This website analyzes data collected from a survey conducted by Cornell University about birth control use, policy, and impact of COVID-19</h2>
  <hr>
  <p><strong> How often do you use birth control when not trying to get pregnant?</strong></p>
  <div class="button-container">
    <a href="http://127.0.0.1:5000/birth-control-use" target="_blank">
        <button>Lookup Birth Control Use by Demographic</button>
    </a>
  </div>
  <p><strong>With the passing of Supreme Court Justice Ruth Bader Ginsburg there is now a vacancy on the supreme court. How concerned, if at all, are you about the upcoming change to the Supreme Court impacting your ability to afford or access your preferred birth control method?</strong></p>
  <div class="button-container">
    <a href="http://127.0.0.1:5000/birth-control-access" target="_blank">
        <button type="button">Lookup Birth Control Access by Demographic</button>
    </a>
  </div>

</body>
</html>
