<!DOCTYPE html>
<html>
<body>

  <h1>Birth Control Survey Results</h1>
  
  <p>This is the homepage for Team D's Project Component #2.</p>
  <p>To see how often people of a certain demographic use birth control when they are not trying to get pregnant, click BirthControlUse.</p>
  <p>To see how concerned people of a certain demographic are about future access to birth control due to the political climate, cick BirthControlAccess.</p>


  <nav id="myNav">
    <a href="http://127.0.0.1:5000/birth-control-access">Birth Control Access</a> |
    <a href="http://127.0.0.1:5000/birth-control-use">Birth Control Use</a>
  </nav>



</body>
</html>
