<!DOCTYPE html>
<html>
  <head>
    <h1>Birth Control Survey Results</h1>
    <link rel= "stylesheet" href="{{url_for('static', filename='homepage.css')}}">
  </head>
<body>
  
  <p>This website analyzes data collected from a survey conducted by Cornell University about birth control use, policy, and impact of COVID-19</p>
  <p>To see how often people of a certain demographic use birth control when they are not trying to get pregnant, click BirthControlUse.</p>
  <div class="button-container">
    <a href="http://127.0.0.1:5000/birth-control-use" target="_blank">
        <button>Lookup Birth Control Use</button>
    </a>
  </div>
  <p>To see how concerned people of a certain demographic are about future access to birth control due to the political climate, click BirthControlAccess.</p>
  <div class="button-container">
    <a href="http://127.0.0.1:5000/birth-control-access" target="_blank">
        <button>Lookup Birth Control Access</button>
    </a>
  </div>

</body>
</html>
